<div class="row container-fluid navbar-fixed-bottom" id="footer">
	<div class="col-xs-6 col-xs-offset-0 col-sm-2 col-sm-offset-1" id="gmailcontact">
		<%= link_to image_tag("gmail.png", size: "64", alt: 'Gmail', class: "img-responsive center-block"), 'mailto:reggiedbarnett@gmail.com' %>
	</div>
	<div class="col-xs-6 col-sm-2" id="licontact">
		<%= link_to image_tag("linkedin.png", size: "64", alt: 'LinkedIn', class: "img-responsive center-block"), 'https://www.linkedin.com/in/reggie-barnett-39431659' %>
	</div>
	<div class="col-xs-6 col-sm-2" id="twitcontact">
		<%= link_to image_tag("twitter.png", size: "64", alt: 'Twitter', class: "img-responsive center-block"), 'https://twitter.com/reggiebarnett_' %>
	</div>
	<div class="col-xs-6 col-sm-2" id="fbcontact">
		<%= link_to image_tag("facebook.png", size: "64", alt: 'Facebook', class: "img-responsive center-block"), 'https://www.facebook.com/reggie.barnett.16' %>
	</div>
	<div class="col-xs-12 col-sm-2" id="gitcontact">
		<%= link_to image_tag("github.png", size: "64", alt: 'Github', class: "img-responsive center-block"), 'https://github.com/reggiebarnett' %>
	</div>
</div>